@import url(./variables.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: 0;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: var(--color-lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik";
    overflow: hidden
}

.main {
    height: 80%;
    width: 90%;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0px 0px 15px #8a8a8a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .header {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    gap: 15px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 10px 10px 0px 0px;
}

.main .header > * {
    filter: drop-shadow(0px 2px 5px #5c8ca0);
}

.main .header i {
    font-size: 40px;
    margin-left: 30px;
}

.main .users {
    height: 90%;
}

.main .users .searchUsers {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    align-items: center;
}




.searchUsers p {
    font-size: 20px;
    font-weight: 600;
}

.searchUsers i {
    font-size: 25px;
    cursor: pointer;
}


.main .users .containerUsers {
    height: 90%;
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 0px 0px 10px 10px;
    gap: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.containerUsers .cardUser {
    background-color: var(--color-white);
    border-radius: 10px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 10px;
    gap: 10px;
    position: relative;
}
.containerUsers .cardUser img {
    margin-top: 10px;
    border-radius: 100%;
}

.containerUsers .cardUser .userName {
    font-size: 20px;
    font-weight: 500;
}

.containerUsers .cardUser .email {
    text-align: center;
}

.containerUsers .cardUser .id, .containerUsers .cardUser .phone {
    display: flex;
    gap: 5px;
}

.containerUsers .cardUser #trashIcon {
    position: absolute;
    right: 10px;
    color: var(--color-lightgray);
    font-size: 25px;
    cursor: pointer;
}

.createUserPopUpBg {
    position: absolute;
    width: 100svw;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.219);
    display: grid;
    place-items: center;
}

.createUserPopUp {
    height: 650px;
    aspect-ratio: 5 / 7;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#inputImg {
    display: none;
}

.createUserPopUp .inputImgUser {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #cccccc;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-size: 60px;
    display: grid;
    place-items: center;
}