@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-white: #ffff;
    --color-black: #0B1215;
    --color-gray: #464646;
    --color-lightgray: #e0e0e0;
    --color-primary: #67c5ee;
}